@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left:5%">
    <h2>You are successfully loged in</h2>
    @Html.ActionLink("Logout", "Logout", "Account")
</div>