<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
            height: 100%;
            width: 99%;
            background-color: #ffffff;
        }
        table {
            border-spacing: 0px;
        }
        thead tr {
            font-weight: bold;
            background-color: #fafafa;
        }
        td {
            border: 1px solid #c4c4c4;
            padding:5px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>