@model SimpleCookieBasedAuthentication.Models.Account.LoginData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="All" class="text-danger"></div>
    Username: <input asp-for="Username" value="" /><br />
    Password: <input asp-for="Password" value="" /><br />
    Remember me: <input asp-for="RememberMe" type="checkbox" /><br />
    <input type="submit" value="Login" />
    @Html.AntiForgeryToken()
</form>